.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    z-index: 20;
    background-color: #f2f2f2d9;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    top: 0;
    left: 0;
    color: black;
    text-align: center;
}

.holder-double-button{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    gap: 1rem;
}

.close-popup-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 1rem;
    left: 1rem;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    &:hover{
        transform: scale(1.25);
        cursor: pointer;
    }
}

@media (orientation: landscape) {
    .popup{
        padding: 2rem 35vw;
    }
}