.title-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    h1{
        line-height: 90%;
    }
    button{
        display: flex;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: none;
    }
    a{
        display: flex;
        width: 2rem;
        height: 2rem;
        height: auto;
        width: auto;
    }
}

.bold{
    font-size: 2rem;
    font-weight: 700;  
}

.regular{
    font-size: 1.5rem;
    font-weight: 400;
}

.icon{
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
}