.txt-titulo {
    color: #000000;
    font-size: 2rem;
    font-style: bold;
    text-align: center;
    justify-content: center;
}

.txt-instrucao {
    color: #cccccc;
    font-size: 1rem;
    font-style: bold;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.txt-footer {
    color: #000000;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    justify-content: center;

    a {
        text-decoration: underline;
        color: #000000;
    }
}

.txt-error{
    color: #ff0000;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    z-index: 20;
    background-color: #ffffffe6;
    backdrop-filter: blur(1rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    top: 0;
    left: 0;
}